<ion-view title="Login" id="page2">
    <ion-content padding="true" class="background" scroll="false">
        
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="userinformation.userName">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="userinformation.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ng-click="login()" id="login-button1" class="button button-positive  button-block">Log in</a>
            <a ng-click="register()" id="login-button2" class="button button-positive  button-block">Register</a>
        </form>
    </ion-content>
</ion-view>